<h1>Kolla när din dator ska uppgraderas</h1>

<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
    <br> <br>
    <b>{{ status }}</b>
</form>
